<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수정</title>
</head>
<body>

  <h1>상품 추가 페이지</h1>

  <div class="layout">
      <form action="/product/addPro" method="post">
<!--          <div>-->
<!--              <label>상품번호</label>-->
<!--              <input type="number" class="form-control" name="productNo">-->
<!--          </div>-->

          <div class="form-group">
              <label>상품이름</label>
              <input type="text" class="form-control" name="productName">
          </div>

          <div class="form-group">
              <label>상품가격</label>
              <input type="number" class="form-control" name="salePrice">
          </div>

          <button type="submit">완료</button>

      </form>
  </div>


</body>
</html>